.rfailed_register{
    color: rgb(223, 4, 4);
    margin-top: 5.5%;
}

.weak_password{
    color: grey;
    margin-bottom: 0%;
    margin-top: 4%;
}

.rno_match{
    color: rgb(223, 4, 4);
    margin-top: 4%;
}

.rdiv1{
    width: 100%; 
    display: inline-block;
    
}

.rdiv2{
    width:100%; 
    display: inline-block;
    margin-top: -2%;
}


.rdesign_input2{
    width: 45%;
    border: 3px solid rgba(42, 184, 250, 0.966);
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    padding: 2%;
    outline: none;
    color: white;
    border-radius: 12px;
    overflow: hidden;
}

.rdesign_input2:hover{
    border-color: rgba(15, 63, 82, 0.671); 
}
  
.rh1_d{
    color: black;
    padding-top: 10px;
    font-weight: 100px;
}

.logologin{
    margin-top: 15px;
    width: 60px;
    height: 60px;
}


.rform_container{
    background-color: white;
    text-align:center;
    width: 550px;
    height: 510px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.rdiv_design{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(238, 237, 237);
    z-index: -1;
    font-family:Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align: center;
}


.rlogin_button{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    background-color:grey;
    font-weight: bold;
    color: rgba(29, 28, 28, 0.781);
    border: 3px solid rgba(0, 0, 0, 0);
    text-align: center;
    background-color: rgba(135, 201, 231, 0.466);
    display:block;
    margin-top: 40px;
    padding: 10px 35px;
    border-radius: 12px;
}

.register_button{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    background-color:grey;
    font-weight: bold;
    color: rgba(29, 28, 28, 0.781);
    border: 3px solid rgba(0, 0, 0, 0);
    text-align: center;
    background-color: rgba(135, 201, 231, 0.466);
    display:block;
    margin-top: 25px;
    padding: 10px 35px;
    border-radius: 12px;
}

button:disabled,
button[disabled]{
    cursor: not-allowed;
}

.register_button:hover{
    background-color: rgba(154, 214, 241, 0.753);
    box-shadow: 0 0 10px #9ecaed;
    color: white;
}

.rinput-icon{
    position: relative;
    width: 46%;
    height: 50px;
    margin-bottom: 20px ;
     display:block;
    margin:15px auto;
    margin-left: 2.5%;
    float: left;
}

.ricon{
    position:absolute;
    right: 88%;
    bottom:25%;
    width:24px;
    height:24px;
}

.rdesign_input{
    width: 100%;
    height: 100%;
    border: 3px solid rgba(42, 184, 250, 0.966);
    background: none;
    padding: 2%;
    outline: none;
    color: black;
    border-radius: 12px;
    padding-left: 13%;
    width: 100%;
}

.rno_icon_design_input{
    height: 100%;
    width: 100%;
    border: 3px solid rgba(42, 184, 250, 0.966);
    background: none;
    padding: 2%;
    outline: none;
    color: black;
    border-radius: 12px;
    padding-left: 3%;
    width: 100%;
}

.rdesign_input:hover{
    box-shadow: 0 0 10px #9ecaed;
}


.rplinks{
    width: 100%;
    position: absolute;
    margin-top: 1%;
}

.rlinks{
    overflow: hidden;
    font-weight: bold;
    margin-left: 2%;
}

.rlinks:link {
    color: rgb(0, 31, 133);
    background-color: transparent;
    text-decoration: none;
}

.rlinks:visited {
    color: rgb(139, 7, 111);
    background-color: transparent;
    text-decoration: none;
}

.rlinks:hover {
    color: rgb(0, 255, 106);
    background-color: transparent;
    text-decoration: underline;
}

.rlinks:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}