.search{
    padding: 2px;
    margin-top: 1%;
    margin-bottom: 40px;
    margin-left: 5px;
    border-radius: 7px;
    border: 2px solid black;
    /* border:2px solid #253657; */
    width: 40%;
    /* margin-left: auto;
    margin-right: auto; */
    background-color:transparent;
}

/* table.center {
    margin-left: auto; 
    margin-right: auto;
} */

.table_div{
    z-index: -1;    
    /* background-image: linear-gradient(#1c1c1de3, #3c3c3de3, #757474e3); */
    /* opacity:0.8; */
    background-color:rgba(235, 233, 233, 0.767);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    /* z-index:1000; */
}
.search_settings{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    /* overflow-y:scroll; */
}

/*{
    left: 50%;
    top: 50%;
    border-collapse: collapse;
    border:2px solid rgba(0,0,0,0.4);
    width: 100%;
    margin-left: auto;
    margin-right: auto;   
} */
.table-container{
    /* height:100%; */
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow-y:scroll;
    /* box-shadow: 0px 10px 100px rgba(0,0,0,0.5); */
}


table{
    /* left: 50%;
    top: 50%; */
    border-collapse: collapse;
    /* border:2px solid rgba(0,0,0,0.4); */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td{
    font-family: monospace;
    text-align: center;
    padding: 10px;
    /* border:1px solid rgba(0, 0, 0, 0.4); */
}


tr{
    width: 100%;
    background-color: white;
}

/* tr:nth-child(even){
    background-color: #999797;
} */


th{
    /* font-family: sans-serif, monospace; */
    text-align: center;
    padding: 10px;
    /* border:1px solid rgba(0, 0, 0, 0.4); */


    position: sticky;
    top: 0;
    /* cursor: pointer; */
    background-color: black;
    /* background-color: rgba(66, 176, 180, 0.932); */
    /* background-image: linear-gradient(#1c1c1de3, #3c3c3de3, #757474e3); */
    text-transform: uppercase;
    /* font-weight: bold; */
    color: white;
    font-family: sans-serif, monospace;
    font-size: 13px;
}

table.bottomBorder { 
    border-collapse: collapse; 
}
table.bottomBorder tr{
    border-right: 1px solid rgb(0, 0, 0); 
    border-left: 1px solid rgb(0, 0, 0); 
    padding: 10px; 
    /* text-align: left; */
    border-bottom: 0 
}
table.bottomBorder tr.not_collapsed { 
    border-top: 1px solid rgb(0, 0, 0); 
}

tr.additional-info{
    border-top: 0.5px solid rgb(192, 192, 192); 
}

table thead{
    border: 2px solid black;
}

/* .collapse_line{
    margin-top: -1%;
    width: 80%;
    margin-left: 10%;
} */

/* table.additional-info td{
    border-top: none;
} */

/* table.roundedCorners { 
    border: 1px solid DarkOrange;
    border-radius: 13px; 
    border-spacing: 0;
    }
  table.roundedCorners td, 
  table.roundedCorners th { 
    border-bottom: 1px solid DarkOrange;
    padding: 10px; 
    }
  table.roundedCorners tr:last-child > td {
    border-bottom: none;
  } */



/* button:hover {
    opacity: 0.8;
    background: black;
    color: white;
} */

/* .container {
    padding: 16px;
} */


.additional-info{
    /* display:none;  */
    /* background-color: #9dcfccda;  */
    background-color: white;
    /* white-space:pre-wrap;  */
    /* word-wrap:break-word;    */
    /* background-color: #9dcfccda */
}

.wrapper {
    width: 100%;
    /* border: 1px solid yellow; */
    overflow: hidden;
}
.piechart {
    width: 20%;
    /* height: 20%; */
    float:left;
    /* border: 0.5px solid black; */
    margin-right: 1%;
    font: 11px Arial;
    margin-top: 1%;
}

.chart_p{
    /* border: 1px solid yellow; */
    margin-bottom: 0%;
    font-weight: bold;
}

.charts{
    width: 100%;
    height: 100%;
}

/* .second {
    width: 20%;
    float: left; 
    margin-right: 10px;
}

.third{
    width: 20%;
    float: left;
    margin-right: 10px;
} */


.fourth{
    /* border: 1px solid black; */
    border-left: 1px solid rgb(192, 192, 192); 
    /* border-left:  */
    width: 33%;
    float: left; 
    height: 100%;
    /* margin-left: 50px; */
    /* margin-top: 1%; */
    margin-left: 4%;
    /* display: block; */
    text-align: center;
}
/* .fifth{
    border: 1px solid black;
    float: left; 
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    text-align: left;
} */
p span {
    display: block;
}

.tablelinks{
    color: rgb(15, 140, 145);
    background-color: transparent;
    text-decoration: none;
}

.tablelinks:hover {
    color: rgb(18, 180, 185);
    background-color: transparent;
    /* text-decoration: underline; */
}