.search{
    padding: 2px;
    margin-top: 1%;
    margin-bottom: 40px;
    margin-left: 5px;
    border-radius: 8px;
    border:2px solid #253657;
    /* width: 99%; */
    /* margin-left: auto;
    margin-right: auto; */
}

/* .table_div{
    z-index: -1;    
    background-image: linear-gradient(#1c1c1de3, #3c3c3de3, #757474e3);
} */

/*{
    left: 50%;
    top: 50%;
    border-collapse: collapse;
    border:2px solid rgba(0,0,0,0.4);
    width: 100%;
    margin-left: auto;
    margin-right: auto;   
} */
.table-container{
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y:scroll;
    /* box-shadow: 0px 10px 100px rgba(0,0,0,0.5); */
}

table{
    /* left: 50%;
    top: 50%; */
    border-collapse: collapse;
    border:2px solid rgba(0,0,0,0.4);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td{
    font-family: sans-serif, monospace;
    text-align: center;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.4);
}

.tablelinks{
    color: rgb(15, 140, 145);
    background-color: transparent;
    text-decoration: none;
}

.tablelinks:hover {
    color: rgb(18, 180, 185);
    background-color: transparent;
    /* text-decoration: underline; */
}

/* .links:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
} */
  
/* .links:visited {
    color: rgb(22, 20, 20);
    background-color: transparent;
    text-decoration: none;
}
  
.links:hover {
    color: rgb(0, 255, 106);
    background-color: transparent;
    text-decoration: underline;
}
  
.links:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */

tr{
    width: 100%;
    background-color: #dadada;
}

/* tr:nth-child(even){
    background-color: #999797;
} */

th{
    font-family: sans-serif, monospace;
    text-align: center;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.4);


    position: sticky;
    top: 0;
    /* cursor: pointer; */
    background-color: black;
    background-image: linear-gradient(#1c1c1de3, #3c3c3de3, #757474e3);
    text-transform: uppercase;
    /* font-weight: bold; */
    color: white;
    font-family: sans-serif, monospace;
}


button:hover {
    opacity: 0.8;
    background: black;
    color: white;
    /* border: 3px solid rgba(28, 19, 63, 0.856); */
}

.container {
    padding: 16px;
}


.additional-info{
    /* display:none;  */
    /* background-color: #9dcfccda;  */
    background-color: #eeeeeeb4;
    /* white-space:pre-wrap;  */
    /* word-wrap:break-word;    */
    /* background-color: #9dcfccda */
}

.wrapper {
    width: 100%;
    /* border: 1px solid yellow; */
    overflow: hidden;
}
.first {
    /* width: 300px; */
    float:left;
    /* border: 1px solid black; */
    margin-right: 10px;
}
.second {
    /* border: 1px solid black; */
    float: left; 
    margin-right: 10px;
}

.third{
    /* border: 1px solid black; */
    float: left;
    margin-right: 10px;
}

.fourth{
    /* border: 1px solid black; */
    float: left; 
    margin-left: 50px;
    margin-top: 20px;
    /* display: block; */
    text-align: left;
}
.fifth{
    /* border: 1px solid black; */
    float: left; 
    /* margin-left: 50px; */
    margin-top: 20px;
    /* display: block; */
    text-align: left;
}
p span {
    display: block;
}